:root{
    --main_color:#10cab7;
    --secondary_color:#2c4755;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 355px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* start global rules */
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End global rules */
html{
    scroll-behavior: smooth;
}

/* start components */
.special_heading{
    font-size: 77px;
    letter-spacing: -4px;
    line-height: 195px;
    color: #ebeced;
    font-weight: 800;
    margin: 0;
    text-align: center;
}
.special_heading + p{
    margin: -80px 0 0;
    color: #797979;
    font-size: 18px;
    text-align: center;
}
/*End components */

/* start header  */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 13px);
    display: none;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    border: solid 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 0;
    top: -18px;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom: 2px solid #ddd;
}
/* End header  */
/* start landing */
.landing{
    width: 100%;
    height: calc(100vh - 64px);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/landing_img.jpg);
    display: flex;
    justify-content: center;
}
.landing .intro_text{
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
    width: 361px;
}
.landing .intro_text h1{
    color: var(--main_color);
    text-align: center;
}
/* End landing */
/* start features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.features .container .feat{
    padding: 20px;
    text-align: center;
}
.features .container .feat:nth-child(2){
    box-shadow: #79797979 1px 6px 8px;
}
.features .container .feat i{
    color: var(--main_color);
    font-size: 45px;
}
.features .container .feat h3{
    font-size: 20px;
    font-weight: 800;
}
.features .container .feat p{
   line-height: 1.6;
   font-size: 17px;
   color: #777;
}
/* End features */

/* start services */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content{
    display: grid;
    grid-template-columns:repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .service-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: var(--main_color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}
.services .services-content .srv .text h3{
   margin: 0 0 20px;
}
.services .services-content .srv .text h3{
    color: #777;
    line-height: 1.6;
    font-weight: 300;
}
.services .services-content .image{
    position: relative;
    text-align: center;
}
.services .services-content .image::after{
    content: "";
    position: absolute;
    width: 80px;
    height:calc(100% + 100px);
    background-color: var(--secondary_color);
    top: -50px;
    right: 0;
    z-index: -1;
}
@media(max-width:1199px){
    .image-col{
        display: none;
    }
}
/* End services */

/* start portfolio */
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
    padding-bottom: 93px;
}
.portfolio-content .card{
    background-color: white;
}
.portfolio-content .card img{
    max-width: 100%;
}
.portfolio-content .card .info{
    padding: 10px;
}
.portfolio-content .card .info h3{
    font-weight: 700;
    margin: 0;
}
.portfolio-content .card .info p{
    font-weight: 400;
    color: #777;
    margin-bottom: 0;
    line-height: 1.6;
}
/* End portfolio */
/* start about */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}
@media(max-width:991px){
    .about-content{
        flex-direction: column;
        text-align: center;
    }
 .about-content .image::before{
        display: none;
    }
 .about-content .image::after{
        display: none;
    }
}
.about-content .image {
    position: relative;
}
.about-content .image::after {
       top: -34px;
    content: "";
    position: absolute;
    width: 100px;
    height: 210px;
    border-bottom: 80px solid var(--main_color);
    border-left: 80px solid var(--main_color);
    z-index: -1;
    right: -135px;
}
.about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height:  430px;
    background-color: #ebeced;
    z-index: -1;
    left: -25px;
    top: -65px;
}
.about-content .image img{
    width: 260px;
    height: 320px;
}
.about-content .text{
    flex-basis: calc(100% - 500px);
}
.about-content .text  p:first-of-type{ 
    color: #334753;
    font-size: 20px;
    font-weight: 800;
    line-height: 40px;
}
.about-content .text hr{ 
    border-color: var(--main_color);
    width: 270px;
    display: inline-block;
}
.about-content .text  p:last-of-type{ 
font-size: 15px;
letter-spacing: -1px;
line-height: 32px;
color: #575757;
font-weight: 400;
}
/* End about */
/* start contact  */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .contact-content{
    text-align: center;
    line-height: 2.6;
}
.contact .contact-content h3{
font-size: 45px;
letter-spacing: -3px;
line-height: 67px;
color: #2c4755;
font-weight: 800;
}  
.contact .contact-content h4{  
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 67px;
    color: #10cab7;
    font-weight: 800;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 15px;
}
.contact .contact-content p{
font-size: 15px;
margin-right: 30px;
letter-spacing: -1px;
line-height: 27px;
color: #334752;
font-weight: 400;
}  
@media(max-width:415px){
    .contact .contact-content h3{
        margin: 54px 0px 9px 25px;
    }
    .contact .contact-content h4{
        font-size: 30px;
    }
}
/* End contact  */
/* start footer */
.footer{
    width: 100%;
    height: 60px;
    background-color: #2c4755;
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px 10px;
}
.footer span{
    color: var(--main_color);
    font-weight: bold;
}
/* End footer */